.wrapper
  .block
    for project in public._data.projects
      .project-block
        h2.project-title=project.name
        span.project-date=project.date
        div.project-description=project.description
        if project.readmore
          a(href=project.readmore).project-readmore Read more
        if project.url
          div.project-url
            span Link: 
            a(href=project.url).project-link=project.url
        div.project-github.bold Github: 
          if project.github
              a(href=project.github)=project.github
          else
            span Coming soon

        if project.tech
          h3.project-title_sub Technology used:
          ul.project-tech
            for tech in project.tech
              li.project-tech--name
                a(href=tech.url)=tech.name

  .block
    .project-block
      h2 Q.E.D.

!=partial('_about-me-footer')
